@import "tailwindcss";

:root {
  --color-primary: #f53e32;
  --color-background: #ffffff;
  --color-border: #e9e9e9;
  --color-card-bg: #f7f7f8;
  --color-text-primary: #000000;
  --color-text-secondary: #221f1f;
  --color-text-tertiary: #7a7a7a;

  --font-family-primary: "Poppins", sans-serif;
  --font-family-logo: "Inter", sans-serif;
  --font-family-hero: "Arial", sans-serif;
  --font-family-btn: "Quickstand", monospace;

  --font-weight-medium: 500;
  --font-weight-bold: 900;

  --font-size-base: 14px;
  --line-height-base: 21px;
  --letter-spacing-base: 0.48px;

  --spacing-outer: 20px;
  --spacing-inner: 10px;

  --max-width: 1920px;
  --container-width: 1610px;
  --container-width-header: 1296px;

  --border-radius: 5px;
  --border-width: 1px;
  --border-color: #ECECEC;
}

@theme {
  --color-primary: #f53e32;
  --color-background: #ffffff;
  --color-border: #ECECEC;
  --color-card: #f7f7f8;
  --color-text-primary: #000000;
  --color-text-secondary: #221f1f;
  --color-text-tertiary: #7a7a7a;

  --font-family-primary: "Poppins", sans-serif;
  --font-family-logo: "Inter", sans-serif;
  --font-family-hero: "Arial", sans-serif;
  --font-family-btn: "Quickstand", monospace;

  --font-weight-medium: 500;
  --font-weight-bold: 900;

  --font-size-base: 14px;
  --line-height-base: 21px;
  --letter-spacing-base: 0.48px;

  --spacing-outer: 20px;
  --spacing-inner: 10px;

  --max-width: 1920px;
  --container-width: 1610px;
  --container-width-header: 1296px;

  --border-radius-default: 5px;
  --border-width-default: 1px;
  
}

@layer base {
  body {
    font-family: var(--font-family-primary);
    color: var(--color-text-primary);
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .container {
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-outer);
    padding-right: var(--spacing-outer);
  }

  .container-header {
  max-width: var(--container-width-header);
}
}


